<!DOCTYPE html>
<html>
  <head>
    <title>rsis on <%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.13.0/polyfill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="contents1"></div>
    <div id="contents2"></div>
    <div id="contents3"></div>

    <script src="/hello.js"></script>
    
  </body>
</html>
