<!DOCTYPE html>
<html>
  <head>
    <title>rsis [<%= title %>]</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.13.0/polyfill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <!--p>Welcome to <%= title %></p-->

    <div id="header"></div>
    <div id="body"></div>
    <div id="footer"></div>

    <!--div id="root">Привет, Я #Groot</div>
    <div id="body1"></div-->

    <script src="/saleplaces.js"></script>
    
  </body>
</html>
