.leftpanel 
{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #eee;
  width: 200px;
  /*border-right: 1px solid #ddd;*/
  overflow: hidden;
}

@media (max-width: 800px) 
{
  .leftpanel {
    display: none;
    /*position: absolute;
    top: 45px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 0px;*/
  }
}

#signin 
{
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: darkorange;
  height: 200px;
}
