.saleplaceslist {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap:1px;
  background-color: whitesmoke;
}

@media screen and (min-width: 900px) 
{ 
  .saleplaceslist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px)
{ 
  .saleplaceslist {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1500px)
{ 
  .saleplaceslist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1800px)
{ 
  .saleplaceslist {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 2100px)
{ 
  .saleplaceslist {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.saleplacefull 
{
  background: #ffffaa;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 300px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgba(0, 81, 202, 0.66);
  padding: 3px 5px;
}

.splaceId 
{
  /*text-decoration: underline;*/
  color: #007DDC;
}

.summary 
{
  margin: 10px 0 0 0;
  display: block;
}
