html {
    /*background: white;*/
    font: 24px Arial    
}

body {
    /*background: rgba(0, 102, 255, 0.38);
    font-family: sans-serif;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    padding: 0px;
    margin: 0px; 
    /*width: 1920px;*/
}

a   {
    /*color: #00B7FF;*/
    text-decoration: none;
}
a.hover {
    text-decoration-color: orangered;
    text-decoration: underline;
}

p   {
    margin: 0 0 5px;
}

.none {
    display: none !important;
}

hr.separate-elements {
    border: 0;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(221, 221, 221, 0.0)), color-stop(0.5, rgba(221, 221, 221, 0.33)), to(rgba(221, 221, 221, 0.0)));
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

hr.separate {
    margin-top: 35px;
    margin-bottom: 25px;
    border: 0;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0)), color-stop(0.5, rgba(0, 0, 0, 0.33)), to(rgba(0, 0, 0, 0.0)));
}
