#leftmenu
/*,#rightmenu */
{    
    height: 24vh; 
}

.main-menu 
{
    /*padding: 1em;*/
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    /*float: left;*/
    /*background-color: grey;*/    
}


.main-menu a
{
    margin: 0;    
    width: 200px;
    padding: 0.25em 80% 0.25em 1em;
}

.main-menu a.active {
    color: orangered;
    font-weight: bold;
    background-color: cyan;    
}

.main-menu ul {
    padding-left: 0px;
}

.main-menu li 
{
    white-space: nowrap;
    margin: 0.5em 0 0.5em 0;
    list-style: none;
}


/*
.right-menu 
{
    list-style-type: none;
    display: block;
    height: 3em;
    margin: 2px;
    float: left;
    /*background-color: grey;
}

.right-menu.selected {
    background-color: whitesmoke;
}

.right-menu li {
    margin: 0 0 0.5rem 0.5rem;
}
*/